streamlit
# We block version 0.3.0+ because it removed the feature you need
langchain<0.3.0
langchain-community<0.3.0
langchain-core<0.3.0
langchain-text-splitters<0.3.0
langchain-groq
# Standard dependencies
faiss-cpu
sentence-transformers
pymupdf
python-dotenv
tiktoken
